header{
    background-color: #c0f0f7;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1rem solid #f7b278;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 1rem;
}
header img{
    width: 5rem;
    grid-row: 1/3;
    justify-self: center;
}
header h1{
    position: relative;
    text-align: center;
}
header h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
body{
    background-color: #f7b278;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
nav a{
    background-color: #f7b278;
    padding: .5rem;
}
main{
    background-color: #c0f0f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
}
div{
    background-color: #f7b278;
    margin: 1rem;
    text-align: center;
}
.gallery img{
    max-width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
ul{
    width: 8rem;
    text-align: left;
    margin: auto;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}
nav{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    grid-column: 2/3;
    grid-row: 2/3;
}
.pricing .training h3{
    display: inline-block;
    justify-content: center;
    align-content: center;
}
h3{
    font-weight: 400;
}
header nav a{
    color: #c0f0f7;
}
header nav a:hover{
    color:black;
}
.location img{
    width: 40rem;
}
.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.services h2{
    flex-basis: 100%;
}
.button{
    background-color: #c0f0f7;
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.button:hover{
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.6);
}
dialog.show{
    display: block;
}
dialog.show{
    position: absolute;
    top: 50%;
    z-index: 2;
    background-color: #c0f0f7;
    color: black;
    padding: 2rem;
}
@media (min-width: 1000px){
    div{
     justify-content: center;
     align-content: center;
    }
    header{
        justify-content: center;
    }
    header>nav{
        text-align: center;
        max-width: 100%;
    }
    div{
        max-width: 50rem;
        margin: 2rem auto;
    }
    img{
        max-height: 50rem;
    }
    header img{
        max-width: 100%;
    }
    }
    @media (max-width: 750px){
        header img{
            grid-row: 1/2;
        }
        header nav{
            grid-column: 1/4;
            grid-row: 2/3;
        }
        header h1{
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }

