header{
    background-color: #c0f0f7;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1rem solid #f7b278;
}
header img{
    width: 5rem;
    display: block;
}
header h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
body{
    background-color: #f7b278;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
nav a{
    background-color: #f7b278;
    padding: .5rem;
}
main{
    background-color: #c0f0f7;
    padding-top: 2rem;
}
div{
    background-color: #f7b278;
    margin: 1rem;
    text-align: center;
}
.gallery img{
    max-width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
ul{
    width: 8rem;
    text-align: left;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}
nav{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}
.pricing .training h3{
    display: inline-block;
    justify-content: center;
    align-content: center;
}
h3{
    font-weight: 400;
}
header nav a{
    color: #c0f0f7;
}
header nav a:hover{
    color:black;
}
header h1:after, header h1:before{
    content: url(images/dog-park.png);
    width: 5rem;
    top: 5rem;
    display: inline-flex;
    flex-wrap: wrap;
}
.services{
    display: flex;
    padding: 2rem;
}
@media (min-width: 1000px){
    div{
     justify-content: center;
     align-content: center;
    }
    header{
        justify-content: center;
    }
    header>nav{
        text-align: center;
    }
    div{
        max-width: 50rem;
        margin: 2rem auto;
    }
    img{
        max-height: 50rem;
    }
    }

